<header class="sticky-header" style="z-index: 1">
  <div class="logo-container">
    <a [routerLink]="ApplicationRoutes.home">
      <img
        src="https://unsplash.com/favicon-32x32.png"
        alt="Logo"
        class="logo ms-2"
      />
    </a>
  </div>
  <div class="search-container">
    <fa-icon [icon]="faSearch" />
    <input
      type="search"
      class="form-control search-bar"
      placeholder="Search high-resolution images"
      [(ngModel)]="searchInput"
      (keyup.enter)="search()"
    />
  </div>
  <div class="login-container text-center">
    <div
      *ngIf="userManager.isCurrentUserAuthenticated | async"
      class="d-flex justify-content-center"
    >
      <button
        (click)="logout()"
        class="btn btn-link link-secondary text-decoration-none"
      >
        Log out
      </button>

      <button
        class="btn btn-outline-secondary"
        data-bs-toggle="modal"
        data-bs-target="#uploadModal"
      >
        Submit a photo
      </button>

      <a
        *ngIf="this.currentUser"
        [routerLink]="'/user/' + this.currentUser.userName"
      >
        <img
          [src]="currentUser.avatarImagePath"
          alt="Avatar"
          class="avatar rounded-circle ms-3"
        />
      </a>
    </div>
    <a
      *ngIf="!(userManager.isCurrentUserAuthenticated | async)"
      [routerLink]="ApplicationRoutes.login"
      class="btn btn-outline-secondary"
      >Log in</a
    >
  </div>
</header>
<router-outlet></router-outlet>
<!-- Modal -->
<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  aria-labelledby="imageModalLabel"
  aria-hidden="true"
  style="z-index: 99999"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <form
      enctype="multipart/form-data"
      (submit)="submitPost()"
      class="modal-content text-light"
      style="background-color: rgb(24, 26, 27) !important"
    >
      <div class="modal-header">Submit to SeeSay</div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <label for="description" class="mb-1">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
              [(ngModel)]="description"
              placeholder="Automatically..."
            />
          </div>
          <div class="notice mb-3">
            The description is optional. You may not describe your image, then
            AI will do it automatically
          </div>
          <div class="form-group mb-3">
            <label for="image" class="mb-1">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              name="image"
              (change)="onFileChange($event)"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label>Categories</label>
            <ngx-select-dropdown
              name="dataModel"
              [config]="dropdownConfig"
              [options]="categories"
              [(ngModel)]="selectedCategories"
              [multiple]="true"
              (searchChange)="onSearch($event)"
            ></ngx-select-dropdown>
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              id="otherCategory"
              name="categories"
              [(ngModel)]="categoryInput"
              (keyup)="onKeyUp($event)"
              (focusout)="onFocusOut()"
            />
            <div class="mt-2 d-flex flex-wrap gap-2">
              <div *ngFor="let category of additionalCategories">
                <span class="badge"
                  >{{ category.name }}
                  <button
                    class="btn btn-sm border-0"
                    (click)="removeCategory(category)"
                  >
                    x
                  </button></span
                >
              </div>
            </div>
            <div *ngIf="additionalCategories.length < 1" class="notice m-0">
              If the existing categories are not enough, you can add your own -
              just listing them separated by commas
            </div>
          </div>
          <div
            class="form-check"
            *ngIf="this.currentUser && this.currentUser.hasPremium"
          >
            <input
              type="checkbox"
              class="form-check-input"
              id="isPremium"
              name="isPremium"
              [(ngModel)]="isPremium"
            />
            <label class="form-check-label premium-text" for="isPremium"
              >Premium post</label
            >
          </div>
        </div>
      </div>
      <div
        class="modal-footer flex-column align-items-start flex-md-row justify-content-end"
      >
        <div class="text-danger me-3" *ngIf="errorMessage">Error: {{errorMessage}}</div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<div
  #modalHelper
  class="d-none"
  id="modal-helper"
  data-bs-toggle="modal"
  data-bs-target="#uploadModal"
></div>
