<div id="body" class="container" style="max-width: 800px">
  <div
    class="row justify-content-center align-items-center"
    style="min-height: 90vh"
  >
    <div class="col-12">
      <h1>
        Upgrade to <span class="premium-text">Premium</span> and start creating
        with exclusive, royalty-free images.
      </h1>
      <div class="d-flex flex-column">
        <div>
          <fa-icon [icon]="faPlus" />
          Members-only content added monthly
        </div>
        <div>
          <fa-icon [icon]="faPlus" />
          Unlimited royalty-free downloads
        </div>
        <div>
          <fa-icon [icon]="faPlus" />
          Enhanced legal protections
        </div>
      </div>

      <a
        class="btn btn-primary fw-bold mt-2 pt-1 pb-1 px-5"
        [routerLink]="['/billing']"
        >Get Premium for $10</a
      >
    </div>
  </div>
</div>
