@import "../../stylesheets/customVariables";
#body > .row:first-child {
  min-height: calc(100vh - $header-height) !important;
  max-width: 100% !important;
}

.image {
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1685394396539-258c33f2ae0a?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
  background-size: cover;
  filter: brightness(70%);
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-shadow: -1px -1px 0 rgb(116, 116, 116), 1px -1px 0 rgb(116, 116, 116),
    -1px 1px 0 rgb(116, 116, 116), 1px 1px 0 rgb(116, 116, 116);
}

@import "../../../node_modules/bootstrap/scss/mixins";
@include media-breakpoint-down(md) {
  .image-container {
    height: 600px;
  }

  #body > .row:first-child {
    gap: 10px;
  }
}
